.div {
  width: 100%;
  height: auto;
  padding: 50px 0; }

.space {
  padding: 0;
  margin: 0; }

.padding {
  padding: 0; }

.margin {
  margin: 0; }

/* Menu */
.mdl-layout__header {
  background: #86D9AB;
  color: #fff;
  -webkit-box-shadow: 1px 1px 15px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 15px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 15px -8px rgba(0, 0, 0, 0.75); }
  .mdl-layout__header .menu_logo {
    width: auto;
    height: 65%; }
  .mdl-layout__header .search_bar {
    position: relative;
    width: 100%;
    height: 64px;
    background: #fff;
    display: none; }
    .mdl-layout__header .search_bar i {
      float: left;
      color: #787878;
      margin-left: 10%;
      border: 0; }
    .mdl-layout__header .search_bar input {
      width: 70%;
      height: auto;
      font-size: 22px;
      padding: 16px 0 0 0;
      color: #787878;
      border: 0; }
  .mdl-layout__header .menu_perfil {
    float: left;
    width: auto;
    padding: 19px 25px 18px 25px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer; }
    .mdl-layout__header .menu_perfil:hover {
      background: #8ee8b6; }
    .mdl-layout__header .menu_perfil p {
      margin: 0 0 0 5px;
      float: right;
      font-weight: 300; }
    .mdl-layout__header .menu_perfil i {
      margin: 1px 0 0 0;
      border: 0;
      padding: 0; }
      .mdl-layout__header .menu_perfil i:hover {
        background: transparent; }
  .mdl-layout__header .mdl-badge.mdl-badge--overlap {
    margin-right: -4px; }
  .mdl-layout__header #not {
    font-size: 21px;
    padding: 22px 21px 21px 19px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer; }
    .mdl-layout__header #not:hover {
      background: rgba(255, 255, 255, 0.2); }
    .mdl-layout__header #not:after {
      right: 12px;
      top: 10px; }
  .mdl-layout__header i {
    font-size: 21px;
    padding: 21px 18px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-right: -5px; }
    .mdl-layout__header i:hover {
      background: rgba(255, 255, 255, 0.2); }
