@import '_variaveis'; 

body{
    background: $cinza_2;       
}

.noticias{
    width: 100%;
    height: auto;
    float: left;
    margin: 15px 0 0 0;
    background: $branco_1;
    @include shadow;
    text-align: center;
    
    img{
        width: 100%;
        height: auto;
        float: left;
    }
    
    .title{
        width: 100%;
        height: auto;
        float: left;
        padding: 10px 0;

        h5{
            margin: 10px 5px 20px 5px;
        }
                
        .title_button{
            @include button;
            margin: 0;
            background: $branco_1;
            color: $preto_1;
            
            &:hover{
                color: $cor_primary_1;
            }
            
        }

    }
        
}

.add_user{
    width: 100%;
    height: auto;
    float: left;
    margin: 15px 0 0 0;
    background: $branco_1;
    @include shadow;
    text-align: center;
    
    .back{
        width: 100%;
        height: 200px;
        background: url('../images/wallpaper/11.jpg') center / cover;
    
        .foto{
            position: relative;
            top: 145px;
            width: 28%;
            height: auto;
            border-radius: 50%;
            border: 3px solid $branco_1;
        }

    }
    
    .comment{
        width: 100%;
        height: auto;
        float: left;
        padding: 55px 10px 0 10px;
        
        h4{
            margin: 0 0 10px 0; 
            font-weight: bold;            
        }
        
        p{
            font-weight: 100;
        }
        
    }    
             
    .title_button{
        @include button;
        margin: 0;
        background: $branco_1;
        color: $preto_1;
            
        &:hover{
            color: $cor_primary_1;
        }
            
    }

}

.comments{
    width: 100%;
    height: auto;
    float: left;
    margin: 15px 0 0 0;
    padding: 20px;
    background: $branco_1;
    @include shadow;
    
    img{
        width: 20%;
        height: auto;
        float: left;
        border-radius: 50%;
        margin: 3px 10px 0 0;
    }
    
    h6{
        margin: 0;
    }
    
    p{
        margin: 0;
        font-weight: 100;
    }
    
}